:host {
  box-sizing: border-box;
  padding: 0;
}
.true-editor-select__selector {

  width: 100%;

  ::ng-deep .true-select__input {
    height: 100%;
  }

  ::ng-deep input {
    border: 0;
  }
}
.true-editor-select__container {
  padding: 0;
  margin: 0;
  background-color: blue;
  box-sizing: border-box;
  height: 100%;
}
