// @import "./checks.scss";

:host {
  display: block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.true-grid  {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

// все элементы table с фиксированным лэйаутом
.true-grid-data {
  box-sizing: border-box;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  outline: none;
  td {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

// -- Перетаскиваемая штуковень --------------------------------------------
.true-grid-drop-marker {
  box-sizing: border-box;
  visibility: hidden;
  position: fixed;
  width: 3px;
  border: 1px solid #757779;
  background-color: rgba(255,255,255,0.05);
//  border: 0;
  pointer-events: none;
  z-index: 7;
}

// -- Фиксированная высота строки
.true-grid-data_fixed-height {
  td:not(.true-cell-indent) {
    white-space: nowrap;
  }
  td:not(.true-cell-indent):not(.true-cell-checkbox) {
    text-overflow: ellipsis;
  }
}

.true-cell-checkbox.true-check-by-click {
  cursor: pointer;
}

.true-grid-drag-item {
  visibility: hidden;
  position: fixed;
  overflow-x: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  z-index: 8;
}

// Buttton in header and footer
/deep/ .true-grid-btn {
  cursor: pointer;

  align-self: stretch;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  span {
    display: inline-block;
  }
}

// Классы выравнивания контента
/deep/ .true-align-right {
  text-align: right;
}

/deep/ .true-align-center {
  text-align: center;
}

/deep/ .true-align-left {
  text-align: left !important;
}
