:host {
  display: block;
  min-width: 22em;
}

.true-filter-boolean__checkboxes {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}
